# Raw and processed data (too large for GitHub)
data/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.env
.venv

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/secrets.toml
